name: Log Analyzer Automation

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Make script executable
        run: chmod +x analyze.sh

      - name: Run analyzer script
        run: ./analyze.sh

      - name: Upload report artifact
        uses: actions/upload-artifact@v4
        with:
          name: log-report
          path: report.txt

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
